.weather-air-container {
  display: flex;
  width: 80vw;
  height: calc(100vh - 350px);
}

.weather {
  background-image: url('./assets/weather1.jpg');
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
}

.air-quality {
  background-image: url('./assets/flaring.jpg');
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
}